@use 'sass:map';
@use '@angular/material' as mat;

@mixin mega-button-toggle-theme($theme) {
  $primary: #{mat.get-theme-color($theme, primary, default)};
  $contrast: #{mat.get-theme-color($theme, primary, default-contrast)};

  mat-button-toggle-group {
    font-weight: bold;
    --mat-standard-button-toggle-background-color: transparent;
    --mat-standard-button-toggle-shape: 15px;
    --mat-standard-button-toggle-selected-state-background-color: #{$primary};
    --mat-standard-button-toggle-selected-state-text-color: #{$contrast};
    --mat-standard-button-toggle-divider-color: #{$primary};
    --mat-standard-button-toggle-text-color: #{$primary};
  }
}
