@use '@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// To explicitly import palette variables ($dark-primary-text etc.)
@import '../../../../node_modules/@angular/material/core/theming/_palette';

// ----------------------------------------------------------
// PALETTE
// ----------------------------------------------------------
/* For use in src/lib/core/theming/_palette.scss */
$mega-colors-primary: (
  50 : #f9fcfc,
  100 : #f1f6f7,
  200 : #e8f1f2,
  300 : #dfebec,
  400 : #d8e6e8,
  500 : #d1e2e4,
  600 : #ccdfe1,
  700 : #c6dadd,
  800 : #c0d6d9,
  900 : #b5cfd1,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$mega-colors-accent: (
  50 : #e9f0f1,
  100 : #c7d9dd,
  200 : #a2c0c7,
  300 : #7da7b0,
  400 : #61949f,
  500 : #45818e,
  600 : #3e7986,
  700 : #366e7b,
  800 : #2e6471,
  900 : #1f515f,
  A100 : #9fe9ff,
  A200 : #6cddff,
  A400 : #39d2ff,
  A700 : #1fccff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mega-colors-warn: map-merge(mat.$red-palette, (600: #e91000));

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mega-palette-primary: mat.define-palette($mega-colors-primary, 500);
$mega-palette-accent: mat.define-palette($mega-colors-accent, 600);
$mega-palette-warn: mat.define-palette($mega-colors-warn, 600);

// ----------------------------------------------------------
// THEMES/COLORS/TYPOGRAPHY
// ----------------------------------------------------------
$mega-typography-config: mat.define-typography-config(
  $font-family: Barlow,
  $headline-1: mat.define-typography-level(
    /* v-text/h1 */
    $font-family: Barlow,
    $font-size: 88px,
      //$font-style: italic,
    $font-weight: 400,
    $line-height: 96px, /* 109.091% */
    $letter-spacing: 1.5px,
  ),
  $headline-2: mat.define-typography-level(
    /* v-text/h2 */
    $font-family: Barlow,
    $font-size: 57px,
      //$font-style: italic,
    $font-weight: 400,

    $line-height: 60px, /* 105.263% */
    $letter-spacing: 0.5px,
  ),
  $headline-3: mat.define-typography-level(
    /* v-text/h3 */
    $font-family: Barlow,
    $font-size: 48px,
      //$font-style: italic,
    $font-weight: 400,
    $line-height: 50px, /* 104.167% */
  ),
  $headline-4: mat.define-typography-level(
    /* v-text/h4 */
    $font-family: Barlow,
    $font-size: 34px,
      //$font-style: italic,
    $font-weight: 400,
    $line-height: 40px, /* 117.647% */
    $letter-spacing: 0.25px,
  ),
  $headline-5: mat.define-typography-level(
    /* v-text/h5 */
    $font-family: Barlow,
    $font-size: 23px,
      //$font-style: italic,
    $font-weight: 400,
    $line-height: 32px, /* 139.13% */
  ),
  $headline-6: mat.define-typography-level(
    /* v-text/h6 */
    $font-family: Barlow,
    $font-size: 20px,
      //$font-style: italic,
    $font-weight: 400,
    $line-height: 32px, /* 160% */
    $letter-spacing: 0.25px,
  ),
  $subtitle-1: mat.define-typography-level(
    /* v-text/subtitle-1 */
    $font-family: Barlow,
    $font-size: 15px,
      //$font-style: normal,
    $font-weight: 400,
    $line-height: 28px, /* 186.667% */
    $letter-spacing: 0.15px,
  ),
  $subtitle-2: mat.define-typography-level(
    /* v-text/subtitle-2 */
    $font-family: Barlow,
    $font-size: 14px,
      //$font-style: normal,
    $font-weight: 400,
    $line-height: 22px, /* 157.143% */
    $letter-spacing: 0.1px,
  ),
  $body-1: mat.define-typography-level(
    /* v-text/body-1 */
    $font-family: Barlow,
    $font-size: 16px,
      //$font-style: normal,
    $font-weight: 400,
    $line-height: 24px, /* 150% */
    $letter-spacing: 0.5px,
  ),
  $body-2: mat.define-typography-level(
    /* v-text/body-2 */
    $font-family: Barlow,
    $font-size: 14px,
      //$font-style: normal,
    $font-weight: 400,
    $line-height: 20px, /* 142.857% */
    $letter-spacing: 0.25px,
  ),
  $button: mat.define-typography-level(
    /* v-text/button */
    $font-family: Barlow,
    $font-size: 14px,
      //$font-style: normal,
    $font-weight: 600,
    $line-height: 36px, /* 257.143% */
    //$text-transform: capitalize,
  ),
  $caption: mat.define-typography-level(
    /* v-text/caption */
    $font-family: Barlow,
    $font-size: 12px,
      //$font-style: normal,
    $font-weight: 400,
    $line-height: 20px, /* 166.667% */
    $letter-spacing: 0.4px,
  ),
  $overline: mat.define-typography-level(
    /* v-text/overline */
    $font-family: Barlow,
    $font-size: 12px,
      //$font-style: normal,
    $font-weight: 400,
    $line-height: 32px, /* 266.667% */
    $letter-spacing: 2px,
    //$text-transform: uppercase,
  )
);

// Create the theme object (a Sass map containing all of the palettes).
$mega-theme: mat.define-light-theme((
  color: (
    primary: $mega-palette-primary,
    accent: $mega-palette-accent,
    warn: $mega-palette-warn
  ),
  typography: $mega-typography-config,
  density: 0,
));

// ----------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------
$mega-primary: mat.get-color-from-palette($mega-palette-primary, 500);
$mega-primary-light: mat.get-color-from-palette($mega-palette-primary, 300);
$mega-accent: mat.get-color-from-palette($mega-palette-accent, 600);


// ----------------------------------------------------------
// MIXINS
// ----------------------------------------------------------
